body{
    background-color: #121212;
    color: white;
}

.header{
    background-color: #1e1e1e;
    padding: 5px;
}

.header img{
    height: 150px;
    margin-left: 220px;
}

.container{
    max-width: 1000px;
    margin: 10px auto;
    padding: 20px;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
    margin-top: 20px;
}

p{
    font-size: 25px;
    line-height: 1.6;
}

li{
    font-size: 25px;
}

.highlight{
    font-weight: bold;
}

.checklist{
    list-style-type: none;
    padding: 0;
}

.checklist li::before{
    content: "✅ ";
}